**/bin/
**/obj/

.git/
.github/
.vscode/
.idea/

Tests/
SourceClient/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
coverage/
*.trx
*.coverage
*.coveragexml

README.md
Documentation/

Dockerfile*
.dockerignore
